<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/static/tailwindcss.js"></script>
		<script src="/static/htmx.min.js"></script>
		<link rel="stylesheet" href="/static/style.css" />
		<style></style>
	</head>

	<body class="">
        <p>Base.html.j2</p>
    </body>
</html>
